body{
	background-color:#444;
	color:#ffff;
	font-family:Luminari, fantasy;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;

}



#showcase{
	background-image: url('../images/bg.jpg');
	background-size: 100%;
	background-position:center;
	min-height:600px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color: #ffff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}


}

#chart{
	margin:auto;
	background-position:center;
	width: 80%;

style="width: 900px; height: 300px;"




